# Everything that is not owned by somebody defined via patterns below this one.
* @package-operator/core-maintainers

# Go module files.
go.mod @eqrx
go.sum @eqrx
go.work @eqrx
go.work.sum @eqrx

# Github actions.
/.github/workflows/ @eqrx

# Dependabot.
/.github/dependabot.yml @eqrx
