version: 2
updates:
  - package-ecosystem: gomod
    directories:
      - '/'
      - '/apis'
      - '/pkg'
    schedule:
      interval: daily
    allow:
      - dependency-type: all
        dependency-name: "*"
    open-pull-requests-limit: 100
    groups:
      kube:
        applies-to: version-updates
        patterns:
          - k8s.io/*
      golangx:
        applies-to: version-updates
        patterns:
          - golang.org/x/*
      cardboard:
        applies-to: version-updates
        patterns:
          - pkg.package-operator.run
          - pkg.package-operator.run/cardboard/*
      otel:
        applies-to: version-updates
        patterns:
          - go.opentelemetry.io/*
    commit-message:
      prefix: "build(deps)"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 100
    commit-message:
      prefix: "build(deps)"
