apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{.package.metadata.name}}"
  labels:
    app.kubernetes.io/instance: "{{.package.metadata.name}}"
    app.kubernetes.io/name: test-webapp
    app.kubernetes.io/component: backend
  annotations:
    package-operator.run/phase: deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: "{{.package.metadata.name}}"
      app.kubernetes.io/name: test-webapp
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: "{{.package.metadata.name}}"
        app.kubernetes.io/name: test-webapp
        app.kubernetes.io/component: backend
    spec:
      containers:
        - name: backend
          image: test-webapp/backend:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 8081
