apiVersion: v1
kind: Service
metadata:
  name: "{{.package.metadata.name}}"
  labels:
    app.kubernetes.io/instance: "{{.package.metadata.name}}"
    app.kubernetes.io/name: test-webapp
    app.kubernetes.io/component: backend
  annotations:
    package-operator.run/phase: deploy
spec:
  selector:
    app.kubernetes.io/instance: "{{.package.metadata.name}}"
    app.kubernetes.io/name: test-webapp
    app.kubernetes.io/component: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8081
