apiVersion: v1
kind: ServiceAccount
metadata:
  name: addon-operator
  namespace: addon-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: addon-operator
  namespace: addon-operator
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: addon-operator
  namespace: addon-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: addon-operator
subjects:
- kind: ServiceAccount
  name: addon-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: addon-operator
rules:
- apiGroups:
  - "addons.managed.openshift.io"
  resources:
  - addons
  - addons/status
  - addons/finalizers
  - addonoperators
  - addonoperators/status
  - addonoperators/finalizers
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - "addons.managed.openshift.io"
  resources:
  - addonoperators
  - addonoperators/status
  - addonoperators/finalizers
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorgroups
  - catalogsources
  - subscriptions
  verbs:
  - create
  - delete
  - update
  - watch
  - get
  - list
  - patch
- apiGroups:
  - operators.coreos.com
  resources:
  - clusterserviceversions
  verbs:
  - watch
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: addon-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: addon-operator
subjects:
- kind: ServiceAccount
  name: addon-operator
  namespace: addon-operator
