name: Release

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Create git tag for submodules
      run: |
        git config user.email "$(git show --format=%ae -s $GITHUB_REF_NAME | tail -1)"
        git config user.name "$(git show --format=%an -s $GITHUB_REF_NAME | tail -1)"
        git tag -f -a apis/$GITHUB_REF_NAME -m apis/$GITHUB_REF_NAME ${GITHUB_REF_NAME}^{}
        git push -f origin apis/$GITHUB_REF_NAME
        git tag -f -a pkg/$GITHUB_REF_NAME -m pkg/$GITHUB_REF_NAME ${GITHUB_REF_NAME}^{}
        git push -f origin pkg/$GITHUB_REF_NAME

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.21.6'

    - name: Delete non-semver tags
      run: 'git tag -d $(git tag -l | grep -v "^v")'

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
          .cache
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Release the things
      run: ./do CI:Release
      env:
        VERSION: ${{github.ref_name}}
        QUAY_USER: ${{ secrets.QUAY_USER }}
        QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}

    - uses: cytopia/upload-artifact-retry-action@v0.1.7
      if: ${{ always() }}
      with:
        name: bootstrap-job
        path: |
          config/self-bootstrap-job.yaml

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: |
          config/self-bootstrap-job.yaml
          bin/kubectl-package_darwin_amd64
          bin/kubectl-package_darwin_arm64
          bin/kubectl-package_linux_amd64
