name: Testing

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches: [main]

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  lint-and-unit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.21.6'

    - uses: actions/cache@v4
      with:
        path: |
          .cache
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Lint
      run: ./do Lint:Check

    - name: Unit
      run: ./do Test:Unit

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        files: ./.cache/unit/cov.out,./.cache/integration/pko-cov.out
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Archive cluster logs
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: unit-test-results
        path: .cache/unit

  integration:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.21.6'

    - uses: actions/cache@v4
      with:
        path: |
          .cache
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Kubectl Package Suite
      run: ./do Test:Integration
      env:
        CONTAINER_RUNTIME: docker

    - name: Archive cluster logs
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: integration-test-results
        path: .cache/integration

    - name: Archive cluster logs
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: cluster-logs
        path: .cache/dev-env-logs
